<p id="notice"><%= notice %></p>

<h1>Project Employee Roles</h1>

<table>
  <thead>
    <tr>
      <th>Project employee</th>
      <th>Role</th>
      <th>Is active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_employee_roles.each do |project_employee_role| %>
      <tr>
        <td><%= project_employee_role.project_employee_id %></td>
        <td><%= project_employee_role.role_id %></td>
        <td><%= project_employee_role.is_active %></td>
        <td><%= link_to 'Show', project_employee_role %></td>
        <td><%= link_to 'Edit', edit_project_employee_role_path(project_employee_role) %></td>
        <td><%= link_to 'Destroy', project_employee_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project Employee Role', new_project_employee_role_path %>
