<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @component.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @component.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @component.quantity %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @component.cost %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @component.is_active %>
</p>

<%= link_to 'Edit', edit_component_path(@component) %> |
<%= link_to 'Back', components_path %>
