<%= form_with(model: project_customer, remote: true) do |form| %>
  <%= render 'layouts/form_errors', object: form.object %>
  <div class="row">
    <div class="col-sm-8">
      <div class="field">
        <%= form.hidden_field :is_active %>
      </div>
    </div>
    <div class="col-sm-4">
        <%= submit_btn(form,"float:right;")%>
    </div>
  </div>

   <div class="field">
    <%= form.label :project_id %>
    <div class="field">
      <%= form.select :project_id, 
        @available_projects.map {|d| [d.name, d.id] }, 
        {prompt: '', readonly: true},
        {class: 'input-select2-basic'}%>
    </div>
  </div>

   <div class="field">
    <%= form.label :customer_id %>
    <div class="field">
      <%= form.select :customer_id, 
        @available_customers.map {|d| [d.person.name, d.id] }, 
        {prompt: '', readonly: true},
        {class: 'input-select2-basic'}%>
    </div>
  </div>

<% end %>
