<div class="login-box">
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Password Reset</p>
      <p>
      Length should be at least 8 characters and include: 1 uppercase, 1 lowercase, 1 digit and 1 special character.
      </p>
      <%= form_for(@user, url: password_reset_path(params[:id], email: @user.person.email), :method => :put) do |f| %>
      <%= render 'layouts/form_errors', object: f.object %>
      <%= hidden_field_tag :email, @user.person.email%>
        <div class="input-group mb-3">
          <%= f.password_field :password, placeholder: 'Password'%>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <%= f.password_field :password_confirmation, placeholder: 'Password Confirmation' %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <!-- /.col -->

        <%= f.submit 'Submit', class: 'btn btn-outline-primary form-control', style: 'float: right;' %>

      <%end%>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->
