<%= form_with(model: purchase_order, remote: true, html: { multipart: true }) do |form| %>
  <%= render 'layouts/form_errors', object: form.object %>
  <div class="row">
    <div class="col-sm-8">
      <div class="field">
      </div>
    </div>
    <div class="col-sm-4">
        <%= submit_btn(form,"float:right;")%>
    </div>
  </div>

  <%= form.hidden_field :project_id %>

    <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name%>
  </div>


    <div class="field">
    <%= form.label :customer_id %>
    <div class="field">
      <%= form.select :customer_id, 
        @available_customers.map {|d| [d.person.name, d.id] }, 
        {prompt: '', readonly: true},
        {class: 'input-select2-basic'}%>
    </div>
    <br/>
    <%= render 'services_form', form: form%>
    <div class="field">
    <%= render 'efforts_form', form: form%>
    </div>
  </div>
<% end %>