<table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>State</th>
            <th>Name</th>
            <th>Starts On</th>
            <th>Ends On</th>
            <th>Total</th>
        </thead>
                <tbody>
    <%@purchase_order.invoices.order(starts_on: :desc).each do |d| %>
            <tr>
                <td><%=  d.id %></td>
                <td><%=d.workflow_state.name%></td>
                <td><%=d.name%></td>
                <td><%=d.starts_on%></td>
                <td><%=d.ends_on%></td>
                <td><%=number_to_currency(d.total)%></td>
            </tr>
        
    <%end%>
    </tbody>
</table>