<label>Services</label>
    <div class="field">

      <table class="table table-striped table-condensed" id="purchaseOrderServices">
        <thead>
          <tr>
            <th>Service</th>
            <th>TOS File</th>
            <th>Total</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr>
              <td style="width: 25%;">
              <%= select_tag :service_id, 
          options_from_collection_for_select(@availabe_services ,"id", "name"),
          {class: 'input-select2-basic', id: 'pos-service'}%>
              </td>
              <td style="width: 33.33%;">
                <%# <input type="file" class="form-control-file pos-input" id="pos-tos"> %>
              </td>
              <td>
                <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">$</div>
                </div>
                <input type="number" id="pos-total" class="pos-input form-control" step='0.01' value='0.00' placeholder='0.00'/>
              </div>
              </td>
              <td><a class="btn btn-outline-success form-control" onClick="addPurchaseOrderService()">Add</td>
          </tr>
          <% @purchase_order.purchase_order_services.each_with_index do |pos, index| %>
            <tr id="pos-<%=index%>">
              <td style="width: 50;">
              <%= hidden_field_tag 'purchase_order[purchase_order_services_attributes]['+index.to_s+'][id]',pos.id%>
              <%= text_field_tag '', pos.service.name, readonly: true%>
              </td>
              <td>
              <%if pos.tos_file.present?%>
                <%=link_to 'Download', purchase_order_services_download_tos_path(id: pos.id), class: 'btn btn-outline-primary form-control'%>
              <%else%>
                <%= file_field_tag 'purchase_order[purchase_order_services_attributes]['+index.to_s+'][tos_file]',class: "form-control-file pos-input"%>
              <%end%>
              </td>
              <td>
                <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">$</div>
                </div>
                <%= number_field_tag 'purchase_order[purchase_order_services_attributes]['+index.to_s+'][total]',number_with_precision(pos.total, precision: 2), readonly: true, step: '0.01'%>
              </div>
              </td>
              <td>
              <a class="btn btn-outline-danger form-control", onclick="removePurchaseOrderService('pos-<%=index%>')">Delete</a></td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>

    <script>
  function addPurchaseOrderService(){
    var valid =  true

    if(valid){
    var index = ($('#purchaseOrderServices tr').length - 2)
    var id = 'pos-' +  index
    $('#purchaseOrderServices').find('tbody')
    .append($('<tr>')
      .prop('id', id)
        .append($('<td>')
          .append($('<input>')
          .prop('readonly', 'true')
          .addClass('form-control')
          .prop('name',"purchase_order[purchase_order_services_attributes]["+index+"][service_id]" )
          .prop('type', 'hidden')
          .val($('#pos-service option:selected').val())
          )
          .append($('<input>')
          .prop('readonly', 'true')
          .addClass('form-control')
          .val($('#pos-service option:selected').text())
          ))
        .append($('<td>')
          .append($('<input>')
          .addClass('form-control-file')
          .prop('name',"purchase_order[purchase_order_services_attributes]["+index+"][tos_file]" )
          .prop('type', 'file')
          ))
        
        .append($('<td>')
          .append($('<div>')
          .addClass('input-group')
          .append($('<div>')
          .addClass('input-group-prepend')
          .append($('<div>')
          .text('$')
          .addClass('input-group-text')))
          .append($('<input>')
          .prop('readonly', 'true')
          .addClass('form-control')
          .prop('name',"purchase_order[purchase_order_services_attributes]["+index+"][total]" )
          .val($('#pos-total').val())
          )))
        

        .append($('<td>')
            .append($('<a>')
            .text('Delete')
            .addClass('btn btn-outline-danger form-control')
            .click(function() {
              removePurchaseOrderService(id);
          }))
        
    ))
    $('.pos-input').val('')
    $('#pos-total').val('0.00')
    }
    else{
      console.log('invalid')
    }
  }

  function removePurchaseOrderService(id){
    $('#'+id).remove();
  }
</script>