<table class="table-datatable table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th></th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Is active</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @people.joins(:customer).each do |person| %>
      <tr>
        <td><%= link_to person.id, person %></td>
        <td><%= image_tag Identicon.data_url_for(person.id), size: "25"%></td>
        <td><%= person.first_name %></td>
        <td><%= person.last_name %></td>
        <td><%= person.email %></td>
        <td><%= boolean_icon(person.is_active) %></td>
        <td><%= delete_btn(person) %></td>
      </tr>
    <% end %>
  </tbody>
</table>