<div class="row profile">
  <div class="col-sm-2 text-center">
     <%= image_tag Identicon.data_url_for(@person.id), size: "120"%>

  </div>
  <div class="col-sm-5">
    <table class="table table-striped table-bordered">
      <tbody>
      <tr>
        <td><strong>Name</strong></td>
        <td>
          <%= @person.name %>
        </td>
      </tr>
      <tr>
        <td><strong>Email</strong></td>
        <td>
          <%= @person.email %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-5">
    <table class="table table-striped table-bordered">
      <tbody>
      <tr>
        <td><strong>Person Created On</strong></td>
        <td>
          <%= @person.created_at.to_s(:date) %>
        </td>
      </tr>
      <tr>
        <td><strong>Person Updated On</strong></td>
        <td>
          <%= @person.updated_at.to_s(:date) %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>