<h1>People</h1>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Actions
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to 'New Person', new_person_path, class: "dropdown-item", remote: true%>
      </div>
    </li>
  </ul>
</nav>
<table class="table-datatable table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th></th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Is active</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= link_to person.id, person %></td>
        <td><%= image_tag Identicon.data_url_for(person.id), size: "25"%></td>
        <td><%= person.first_name %></td>
        <td><%= person.last_name %></td>
        <td><%= person.email %></td>
        <td><%= boolean_icon(person.is_active) %></td>
        <td><%= delete_btn(person) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
