<h1>People</h1>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to 'Edit Person', edit_person_path(@person), class: 'dropdown-item', remote: true %>
          <%if @person.is_active%>
           <%= form_for @person, remote: true do |form| %>
              <%= form.hidden_field :is_active, value: false %>
              <%= form.submit 'Deactivate Person', class: 'dropdown-item text-danger', data: { confirm: 'Are you sure?' } %>
            <%end%>
          <%else%>
            <%= form_for @person, remote: true do |form| %>
              <%= form.hidden_field :is_active, value: true %>
              <%= form.submit 'Activate Person', class: 'dropdown-item text-success', data: { confirm: 'Are you sure?' } %>
            <%end%>
          <%end%>
          <div class="dropdown-divider"></div>
          <%unless @person.employee%>
            <%= form_for Employee.new, remote: true do |form| %>
              <%= form.hidden_field :person_id, value: @person.id %>
              <%= form.hidden_field :is_active, value: true %>
              <%= form.submit 'Initialize Employee Record', class: 'dropdown-item', data: { confirm: 'Are you sure?' } %>
            <%end%>
          <%end%>
          <%unless @person.customer%>
            <%= form_for Customer.new, remote: true do |form| %>
              <%= form.hidden_field :person_id, value: @person.id %>
              <%= form.hidden_field :is_active, value: true %>
              <%= form.submit 'Initialize Customer Record', class: 'dropdown-item', data: { confirm: 'Are you sure?' } %>
            <%end%>
          <%end%>
          <%if @person.user.nil? || @person.user.is_active.nil?%>
            <%= button_to 'Activate User Record', account_activations_path(id: @person.id), class: 'dropdown-item', remote: true, method: :post %>
          <%end%>
        </div>
      </li>
    </ul>
</nav>
<%= render 'profile'%>
<%if @person.employee.present? || @person.customer.present?  %>
<ul class="nav nav-tabs" id="myTab" role="tablist" style="padding-top: 10px;">
  <%if @person.employee%>
    <li class="nav-item">
          <span class="badge badge-pill badge-<%=is_active_style(@person.employee.is_active)%>"><%=is_active_text(@person.employee.is_active)%></span>
      <a class="nav-link active" id="employee-tab" data-toggle="tab" href="#employee" role="tab" aria-controls="employee" aria-selected="true">Employee</a>
    </li>
  <%end%>
  <%if @person.customer%>
    <li class="nav-item">
              <span class="badge badge-pill badge-<%=is_active_style(@person.customer.is_active)%>"><%=is_active_text(@person.customer.is_active)%></span>
      <a class="nav-link <%unless @person.employee%> active<%end%>" id="customer-tab" data-toggle="tab" href="#customer" role="tab" aria-controls="customer">Customer</a>
    </li>
  <%end%>
</ul>
<div class="tab-content" id="myTabContent">
  <%if @person.employee%>
    <div class="tab-pane fade show active" id="employee" role="tabpanel" aria-labelledby="employee-tab">
      <div class="container-fluid" style="padding-top: 10px;">
        <%= render 'employee'%>
      </div>
    </div>
  <%end%>
  <%if @person.customer%>
    <div class="tab-pane fade<%unless @person.employee%> show active<%end%>" id="customer" role="tabpanel" aria-labelledby="customer-tab">
      <div class="container-fluid" style="padding-top: 10px;">
        <%= render 'customer'%>
      </div>
    </div>
  <%end%>
</div>
<%end%>