<%= form_with(model: invoice, remote: true) do |form| %>
  <%= render 'layouts/form_errors', object: form.object %>
  <div class="row">
    <div class="col-sm-8">
      <div class="field">
        <%= form.hidden_field :project_id %>
      </div>
    </div>
    <div class="col-sm-4">
        <%= submit_btn(form,"float:right;")%>
    </div>
  </div>

  <div class="field">
    <%= form.label :purchase_order_id %>
        <div class="field">
        <%= form.select :purchase_order_id, 
        @available_purchase_orders.order(name: :desc).map {|d| ["##{d.id} - #{d.customer.person.name} #{d.name}", d.id] }, 
        {prompt: '', readonly: true},
        {class: 'input-select2-basic'}%>
    </div>
  </div>
    <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name%>
  </div>
<div class="row">
  <div class="col-sm-6">
  <div class="field">
    <%= form.label :starts_on %>
    <%= form.date_field :starts_on%>
  </div>
  </div>
<div class="col-sm-6">
  <div class="field">
    <%= form.label :ends_on %>
    <%= form.date_field :ends_on %>
  </div>
  </div>
  </div>

  <%= render 'invoice_lines_form', form: form%>

  <div class="field">
    <%= form.label :total %>
    <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">$</div>
                </div>
                <%= form.number_field :total, step: '0.01' %>
              </div>
  </div>
<% end %>
