<%= form_with(model: invoice, remote: true) do |form| %>
  <%= render 'layouts/form_errors', object: form.object %>
  <div class="row">
    <div class="col-sm-8">
      <div class="field">
        <%= form.hidden_field :project_id %>

                <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Transition
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <% @invoice.workflow_state.workflow_transitions.each do |t|%>
              <button name="invoice[workflow_state_id]"class="dropdown-item" value="<%=t.target_state_id%>"><%= t.name %></button>
              <%end%>
      </div>
    </div>
      </div>
    </div>
    <div class="col-sm-4">
        <%= submit_btn(form,"float:right;")%>
    </div>
  </div>
    <br/>
  <%= form.label 'State' %>
  <br/>
<%=@invoice.workflow_state.name%>

          <div class="field">
    <%= form.label :workflow_id %>
    <div class="field">
      <%= form.select :workflow_id, 
        @available_workflows.map {|d| [d.name, d.id] }, 
        {readonly: true},
        {class: 'input-select2-basic'}%>
    </div>

  <div class="field">
    <%= form.label :purchase_order_id %>
        <div class="field">
        <%= form.select :purchase_order_id, 
        @available_purchase_orders.order(name: :desc).map {|d| ["##{d.id} - #{d.customer.person.name} #{d.name}", d.id] }, 
        {prompt: '', readonly: true},
        {class: 'input-select2-basic'}%>
    </div>
  </div>
    <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name%>
  </div>
<div class="row">
  <div class="col-sm-6">
  <div class="field">
    <%= form.label :starts_on %>
    <%= form.date_field :starts_on%>
  </div>
  </div>
<div class="col-sm-6">
  <div class="field">
    <%= form.label :ends_on %>
    <%= form.date_field :ends_on %>
  </div>
  </div>
  </div>

    <div class="field">
    <%= form.label :total %>
    <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">$</div>
                </div>
                <%= form.number_field :total, step: '0.01' %>
              </div>
  </div>

    <ul class="nav nav-tabs" id="modalTab" role="tablist" style="padding-top: 10px;">
    <li class="nav-item">
      <a class="nav-link active" id="lines-tab" data-toggle="tab" href="#lines" role="tab" aria-controls="lines" aria-selected="true">Lines</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="invoice-work-orders-tab" data-toggle="tab" href="#invoice-work-orders" role="tab" aria-controls="invoice-work-orders" aria-selected="true">Work Orders</a>
    </li>
</ul>
<div class="tab-content" id="myTabModalContent">
    <div class="tab-pane fade show active" id="lines" role="tabpanel" aria-labelledby="lines-tab">
      <div class="container-fluid" style="padding-top: 10px;">
        <%= render 'invoice_lines_form', form: form%>
      </div>
    </div>
    <div class="tab-pane fade" id="invoice-work-orders" role="tabpanel" aria-labelledby="invoice-work-orders-tab">
      <div class="container-fluid" style="padding-top: 10px;">
        <%= render 'work_orders_form', form: form%>
      </div>
    </div>
</div>

<% end %>
