
    <div class="field">

      <table class="table table-striped table-condensed" id="workOrderInvoices">
        <thead>
          <tr>
            <th>Work Order</th>
            <th>Allocation</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr>
              <td>
              <%= select_tag :work_order_id, 
          options_for_select(@available_work_orders.map {|d| ["##{d.id} #{d.name}", d.id] }), 
        {class: 'input-select2-basic', id: 'woi-work-order'}%>
              </td>
              <td style="width: 20%;">
                <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-percentage"></i></div>
                </div>
                <input type="number" id="woi-allocation" class="woi-input form-control" step='0.01' value='0.00' placeholder='0.00'/>
              </div>
              </td>
              <td><a class="btn btn-outline-success form-control" onClick="addWorkOrderInvoice()">Add</a></td>
          </tr>
          <% @invoice.work_order_invoices.each_with_index do |woi, index| %>
            <tr id="woi-<%=index%>">
              <td>
              <%= hidden_field_tag 'invoice[work_order_invoices_attributes]['+index.to_s+'][id]',woi.id%>
              <%= text_field_tag '', woi.work_order.present? ? "##{woi.work_order.id} - #{woi.work_order.name}": '', readonly: true%>
              </td>
              <td style="width: 20%;">
                <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-percentage"></i></div>
                </div>
                <%= number_field_tag 'invoice[work_order_invoices_attributes]['+index.to_s+'][allocation]',number_with_precision(woi.allocation, precision: 2),step: '0.01'%>
              </div>
              </td>
              </td>
              <td>
              <a class="btn btn-outline-danger form-control", onclick="removeWorkOrderInvoice('woi-<%=index%>')">Delete</a></td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>

    <script>
  function addWorkOrderInvoice(){
    var index = ($('#workOrderInvoices tr').length - 2)
    var id = 'woi-' +  index
    $('#workOrderInvoices').find('tbody')
    .append($('<tr>')
      .prop('id', id)
        .append($('<td>')
          .append($('<input>')
          .prop('readonly', 'true')
          .addClass('form-control')
          .prop('name',"invoice[work_order_invoices_attributes]["+index+"][work_order_id]" )
          .prop('type', 'hidden')
          .val($('#woi-work-order option:selected').val())
          )
          .append($('<input>')
          .prop('readonly', 'true')
          .addClass('form-control')
          .val($('#woi-work-order option:selected').text())
          ))

        .append($('<td>')
          .append($('<div>')
          .addClass('input-group')
          .append($('<div>')
          .addClass('input-group-prepend')
          .append($('<div>')
          .append($('<i>')
            .addClass('fa fa-percentage'))
          .addClass('input-group-text')))
          .append($('<input>')
          .addClass('form-control')
          .prop('name',"invoice[work_order_invoices_attributes]["+index+"][allocation]" )
          .val($('#woi-allocation').val())
          )))
        

        .append($('<td>')
            .append($('<a>')
            .text('Delete')
            .addClass('btn btn-outline-danger form-control')
            .click(function() {
              removeWorkOrderInvoice(id);
          }))
        
    ))
  }

  function removeWorkOrderInvoice(id){
    $('#'+id).remove();
  }
</script>