<%= form_with(model: project_customer_role, local: true) do |form| %>
  <% if project_customer_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project_customer_role.errors.count, "error") %> prohibited this project_customer_role from being saved:</h2>

      <ul>
        <% project_customer_role.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :project_customer_id %>
    <%= form.text_field :project_customer_id %>
  </div>

  <div class="field">
    <%= form.label :role_id %>
    <%= form.text_field :role_id %>
  </div>

  <div class="field">
    <%= form.label :is_active %>
    <%= form.check_box :is_active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
