<p id="notice"><%= notice %></p>

<p>
  <strong>Project customer:</strong>
  <%= @project_customer_role.project_customer_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @project_customer_role.role_id %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @project_customer_role.is_active %>
</p>

<%= link_to 'Edit', edit_project_customer_role_path(@project_customer_role) %> |
<%= link_to 'Back', project_customer_roles_path %>
