<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @applicant.person_id %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @applicant.is_active %>
</p>

<%= link_to 'Edit', edit_applicant_path(@applicant) %> |
<%= link_to 'Back', applicants_path %>
