<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @workflow.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @workflow.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @workflow.category %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @workflow.is_active %>
</p>

<%= link_to 'Edit', edit_workflow_path(@workflow) %> |
<%= link_to 'Back', workflows_path %>
