<p id="notice"><%= notice %></p>

<h1>Work Order Efforts</h1>

<table>
  <thead>
    <tr>
      <th>Work order</th>
      <th>Short description</th>
      <th>Long description</th>
      <th>Employee</th>
      <th>Hours</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_order_efforts.each do |work_order_effort| %>
      <tr>
        <td><%= work_order_effort.work_order_id %></td>
        <td><%= work_order_effort.short_description %></td>
        <td><%= work_order_effort.long_description %></td>
        <td><%= work_order_effort.employee_id %></td>
        <td><%= work_order_effort.hours %></td>
        <td><%= link_to 'Show', work_order_effort %></td>
        <td><%= link_to 'Edit', edit_work_order_effort_path(work_order_effort) %></td>
        <td><%= link_to 'Destroy', work_order_effort, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work Order Effort', new_work_order_effort_path %>
