<table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th style="width: 20%;"></th>
        </thead>
                <tbody>
    <%@project.project_customers.each do |d| %>
            <tr>
                <td><%= link_to d.customer.id, d.customer.person%></td>
                <td>
                    <%=d.customer.person.name%>
                    <% d.project_customer_roles.each do |pcr|%>
                        <span class="badge badge-pill badge-primary" style="background-color: #<%=random_color(pcr.role.name)%>"><%=pcr.role.name%></span>
                    <%end%>
                </td>
                <td><%= link_to 'Edit', edit_project_customer_path(d), remote: true, class: 'btn btn-outline-primary btn-sm'%> <%=delete_btn(d)%></td>
            </tr>
        
    <%end%>
    </tbody>
</table>