<table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th></th>
        </thead>
                <tbody>
    <%@project.project_employees.each do |d| %>
            <tr>
                <td><%= link_to d.employee.id, d.employee.person%></td>
                <td>
                    <%=d.employee.person.name%>
                    <% d.employee.employee_jobs.order(:job_id).each do |ej|%>
                        <span class="badge badge-pill badge-primary" style="background-color: #<%=random_color(ej.job.name)%>"><%=ej.job.name%></span>
                    <%end%>
                                         <br/>
                    <% d.employee.employee_departments.each do |pcr|%>
                        <span class="text-muted"><%=pcr.department.name%></span>
                    <%end%>
                </td>
                <td><%=delete_btn(d)%></td>
            </tr>
        
    <%end%>
    </tbody>
</table>