
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to 'New Work Order', new_work_order_path(project_id: @project.id), class: "dropdown-item", remote: true%>
        </div>
      </li>
    </ul>
</nav>
<br/> 
<table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>State</th>
            <th>Estimate</th>
            <th>Total Efforts</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th></th>
            <th></th>
        </thead>
                <tbody>
    <%@project.work_orders.order(:name).each do |d| %>
            <tr>
                <td><%= link_to d.id, edit_work_order_path(d), remote: true%></td>
                <td><%=d.workflow_state.name%></td>
                <td><%= d.initial_estimate %></td>
                <td><%= d.work_order_efforts.sum(:hours) %></td>
                <td><%= d.created_at %></td>
                <td><%= d.updated_at %></td>
                <td><%=duplicate_btn(d)%></td>
                <td><%=delete_btn(d)%></td>
            </tr>
        
    <%end%>
    </tbody>
</table>