<%= form_with(model: invoice_line, local: true) do |form| %>
  <% if invoice_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice_line.errors.count, "error") %> prohibited this invoice_line from being saved:</h2>

      <ul>
        <% invoice_line.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :invoice_id %>
    <%= form.text_field :invoice_id %>
  </div>

  <div class="field">
    <%= form.label :short_description %>
    <%= form.text_field :short_description %>
  </div>

  <div class="field">
    <%= form.label :long_description %>
    <%= form.text_field :long_description %>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= form.text_field :total %>
  </div>

  <div class="field">
    <%= form.label :is_invoiceable %>
    <%= form.check_box :is_invoiceable %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
