<p id="notice"><%= notice %></p>

<h1>Project Employees</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Employee</th>
      <th>Is active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_employees.each do |project_employee| %>
      <tr>
        <td><%= project_employee.project_id %></td>
        <td><%= project_employee.employee_id %></td>
        <td><%= project_employee.is_active %></td>
        <td><%= link_to 'Show', project_employee %></td>
        <td><%= link_to 'Edit', edit_project_employee_path(project_employee) %></td>
        <td><%= link_to 'Destroy', project_employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project Employee', new_project_employee_path %>
