<p id="notice"><%= notice %></p>

<p>
  <strong>Workflow:</strong>
  <%= @workflow_state.workflow_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @workflow_state.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @workflow_state.description %>
</p>

<p>
  <strong>Is start:</strong>
  <%= @workflow_state.is_start %>
</p>

<%= link_to 'Edit', edit_workflow_state_path(@workflow_state) %> |
<%= link_to 'Back', workflow_states_path %>
