<%= form_with(model: service_employee, remote: true) do |form| %>
  <%= render 'layouts/form_errors', object: form.object %>
  <div class="row">
    <div class="col-sm-8">
      <div class="field">
        <%= form.hidden_field :is_active %>
      </div>
    </div>
    <div class="col-sm-4">
        <%= submit_btn(form,"float:right;")%>
    </div>
  </div>

    <div class="field">
    <%= form.label :employee_id %>
    <div class="field">
      <%= form.select :employee_id, 
        @available_employees.map {|e| [e.person.name, e.id] }, 
        {prompt: '', readonly: true},
        {class: 'input-select2-basic'}%>
    </div>
  </div>

   <div class="field">
    <%= form.label :service_id %>
    <div class="field">
      <%= form.select :service_id, 
        @available_services.map {|d| [d.name, d.id] }, 
        {prompt: '', readonly: true},
        {class: 'input-select2-basic'}%>
    </div>
  </div>


  <div class="field">
    <%= form.label :is_primary %>
    <%= form.check_box :is_primary %>
  </div>
<% end %>
