<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" id="allocations-tab" data-toggle="pill" href="#allocations" role="tab" aria-controls="allocations" aria-selected="true">Allocations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="work-orders-tab" data-toggle="pill" href="#work-orders" role="tab" aria-controls="work-orders" aria-selected="true">Work Orders</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="allocations" role="tabpanel" aria-labelledby="allocations-tab">
        <div class="container-fluid" style="padding-top: 10px;">
             <button class="btn btn-outline-primary" style="float: right;" id="submit" onclick="getEfforts(<%=@current_user.person.employee.id%>)">Submit</button>
                      <br/>
                      <br/>
                      <div class="row">
                        <div class="col-sm-6">
                        <label>Start</label>
                        <input type="date" class="allocation-start" id="start-<%=@current_user.person.employee.id%>"/>
                        </div>
                        <div class="col-sm-6">
                        <label>End</label>
                        <input type="date" class="allocation-end" id="end-<%=@current_user.person.employee.id%>"/>
                        </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="card-header">
                                        Expected Allocation
                                    </div>  
                                    <div class="card-body">  
                                    <span id="employee-<%=@current_user.person.employee.id%>-allocation"></span> Hours
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="card-header">
                                        Current Allocation
                                    </div>  
                                    <div class="card-body">  
                                    <span id="employee-<%=@current_user.person.employee.id%>-current-allocation"></span> Hours
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card" >
                                    <div class="card-header">
                                        Available Allocation
                                    </div>  
                                    <div class="card-body">  
                                    <span id="employee-<%=@current_user.person.employee.id%>-avail-allocation"></span> Hours
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="table table-condensed" id="po-table-<%=@current_user.person.employee.id%>">
                        <%@allocations.each do |pe| %>
                            <tr>
                                <td><label><%= link_to pe.project.name, project_path(pe.project) %></label></td>
                                <%@current_user.person.employee.purchase_orders.where(project_id: pe.project.id).each do |po|%>
                                    <tr class="po-line">
                                        <td><%=po.name%> <em>[<%=po.workflow_state.name%>] </em><span style="float: right;"><span id="po-<%= po.id%>-starts-on" class="po-date"><%=po.starts_on%></span> - <span id="po-<%= po.id%>-ends-on" class="po-date"><%=po.ends_on%></span></span></td>
                                        <%@current_user.person.employee.purchase_order_efforts.where(purchase_order_id: po.id).each do |poe|%>
                                            <tr class="po-line">
                                                <td style="padding-left: 30px;"><label class="po-allocation po-<%=@current_user.person.employee.id%>-allocation"></label> hours<span style="float: right;"><%=poe.job.name%> <span class="po-hours text-primary"><%=poe.hours.try(:round)%></span> Hours</span></td>
                                            </tr>
                                        <%end%>
                                    </tr>
                                <%end%>
                                
                            </tr>
                        <%end%>
                        </table>
        </div>
        </div>
    <div class="tab-pane fade show" id="work-orders" role="tabpanel" aria-labelledby="work-orders-tab">
      <div class="container-fluid" style="padding-top: 10px;">
        <table class="table table-condensed table-striped table-datatable">
            <thead>
                <th>Project</th>
                <th>Created At</th>
                <th>Estimate</th>
                <th>Hours</th>
            </thead>
            <%@work_orders.each do |work_order|%>
                <tr>
                    <td><%=work_order.project.name%></td>
                    <td><%=work_order.created_at%></td>
                    <td><%=work_order.initial_estimate%></td>
                    <td><%=number_with_precision(work_order.work_order_efforts.sum(:hours), precision: 2)%></td>
                </tr>
            <%end%>
        </table>
      </div>
    </div>
</div>



    <script>
                $(document).ready(function(){
                    var date = moment().format("yyyy-MM-DD")
                    $(".allocation-start").val(date)
                    $(".allocation-end").val(date)
                    getEfforts(<%=@current_user.person.employee.id%>);
                });

                function getEfforts(id){
                    var search_start_date  = moment($('#start-'+id).val())
                    var search_end_date  = moment($('#end-'+id).val())
                    var allocation = Math.round((search_end_date.diff(search_start_date, 'days') + 1) * 5/7 * 6)
                    var po_start_date = null
                    var po_end_date = null
                    var current_allocation = 0
                    var avail_allocation = allocation

                    $('#employee-'+id+'-allocation').text(allocation.toString())

                    $('#po-table-'+id+' .po-line').each(function() {
                        if ($(this).find('.po-date').length){
                            po_start_date = moment($(this).find('.po-date')[0].innerText)
                            po_end_date = moment($(this).find('.po-date')[1].innerText)
      
                        }

                        var a = ((po_end_date.diff(po_start_date, 'days') + 1) * 5/7 * 6)
                        a = Math.round((Number($(this).find('.po-hours').text())/Number(a)) * Number($('#employee-'+id+'-allocation').text()))
                        if (a > Number($(this).find('.po-hours').text())){
                            a = Number($(this).find('.po-hours').text())
                        }
                        $(this).find('.po-allocation').text(a)



                        if (po_start_date && po_end_date && (po_start_date.isBetween(search_start_date, search_end_date, null , []) || po_end_date.isBetween(search_start_date,search_end_date, null, [])) || (search_start_date.isBetween(po_start_date, po_end_date, null , []) || search_end_date.isBetween(po_start_date,po_end_date, null, []))){
                            $(this).show()
                            current_allocation = current_allocation +  Number($(this).find('.po-'+id+'-allocation').text())
                        }
                        else{
                             $(this).hide()
                        }
                        
                    });

                    avail_allocation = avail_allocation - current_allocation
                    $('#employee-'+id+'-current-allocation').text(Math.round(current_allocation/allocation * 100).toString() + "% " + current_allocation.toString())
                    $('#employee-'+id+'-avail-allocation').text(avail_allocation)
                }
                </script>