<%= form_with(model: work_order, remote: true) do |form| %>
  <%= render 'layouts/form_errors', object: form.object %>
  <div class="row">
    <div class="col-sm-8">
      <div class="field">
        <%= form.hidden_field :project_id %>
      </div>
    </div>
    <div class="col-sm-4">
        <%= submit_btn(form,"float:right;")%>
    </div>
  </div>
<div class="row">
  <div class="col-sm-6">
    <div class="field">
    <%= form.label :requester_id %>
    <div class="field">
      <%= form.select :requester_id, 
        @work_order.project.users.map {|d| [d.name, d.user.id] }, 
        { readonly: true},
        {class: 'input-select2-basic'}%>
    </div>
    </div>
    </div>
    <div class="col-sm-6">

    <div class="field">
      <%= form.label :assignee_id %>
      <div class="field">
        <%= form.select :assignee_id, 
          @work_order.project.users.map {|d| [d.name, d.user.id] }, 
          {prompt: '', readonly: true},
          {class: 'input-select2-basic'}%>
      </div>
    </div>
    </div>
    </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, style: "height: 100px;" %>
  </div>

    <div class="field">
    <%= form.label :initial_estimate %>
    <%= form.number_field :initial_estimate %>
  </div>

  <ul class="nav nav-tabs" id="modalTab" role="tablist" style="padding-top: 10px;">
    <li class="nav-item">
      <a class="nav-link active" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="true">Comments</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="efforts-tab" data-toggle="tab" href="#efforts" role="tab" aria-controls="efforts" aria-selected="true">Efforts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="invoice-form-tab" data-toggle="tab" href="#invoice-form" role="tab" aria-controls="invoice-form" aria-selected="true">Invoices</a>
    </li>
</ul>
<div class="tab-content" id="myTabModalContent">
    <div class="tab-pane fade show active" id="comments" role="tabpanel" aria-labelledby="comments-tab">
      <div class="container-fluid" style="padding-top: 10px;">
        <%= render 'comments_form'%>
      </div>
    </div>
    <div class="tab-pane fade" id="efforts" role="tabpanel" aria-labelledby="efforts-tab">
      <div class="container-fluid" style="padding-top: 10px;">
        <%= render 'efforts_form'%>
      </div>
    </div>
    <div class="tab-pane fade" id="invoice-form" role="tabpanel" aria-labelledby="invoice-form-tab">
      <div class="container-fluid" style="padding-top: 10px;">
        <%= render 'invoices_form'%>
      </div>
    </div>
</div>
<% end %>
