<h1>Work Orders</h1>
<table class="table table-striped table-condensed table-datatable">
        <thead>
            <th>ID</th>
            <th>Project</th>
            <th>Name</th>
            <th>Requested By</th>
            <th>State</th>
            <th>Estimate</th>
            <th>Total Efforts</th>
        </thead>
                <tbody>
    <%@work_orders.order(:name).each do |d| %>
            <tr>
                <td><%= link_to d.id, edit_work_order_path(d), remote: true%></td>
                <td><%= d.project.name %></td>
                <td><%= d.name %></td>
                <td><%= d.requester.person.name unless d.requester.nil? %></td>
                <td><%=d.workflow_state.name%></td>
                <td><%= d.initial_estimate %></td>
                <td><%= d.work_order_efforts.sum(:hours) %></td>
            </tr>
        
    <%end%>
    </tbody>
</table>