<%= form_with(model: workflow_transition, remote: true) do |form| %>
  <%= render 'layouts/form_errors', object: form.object %>
  <div class="row">
    <div class="col-sm-8">
  <div class="field">

  </div>
    </div>
    <div class="col-sm-4">
        <%= submit_btn(form,"float:right;")%>
    </div>
  </div>

  <div class="field">
    <%= form.hidden_field :workflow_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
<div class="row">
  <div class="col-sm-6">
   <div class="field">
    <%= form.label :source_state_id %>
    <div class="field">
      <%= form.select :source_state_id, 
        @available_workflow_states.map {|d| [d.name, d.id] }, 
        {prompt: '', readonly: true},
        {class: 'input-select2-basic'}%>
    </div>
  </div>
  </div>
<div class="col-sm-6">
  <div class="field">
    <%= form.label :target_state_id %>
    <div class="field">
      <%= form.select :target_state_id, 
        @available_workflow_states.map {|d| [d.name, d.id] }, 
        {prompt: '', readonly: true},
        {class: 'input-select2-basic'}%>
    </div>
  </div>
</div>
</div>
  <ul class="nav nav-tabs" id="modalTab" role="tablist" style="padding-top: 10px;">
    <li class="nav-item">
      <a class="nav-link active" id="roles-tab" data-toggle="tab" href="#roles" role="tab" aria-controls="roles" aria-selected="true">Roles</a>
    </li>
</ul>
<div class="tab-content" id="myTabModalContent">
    <div class="tab-pane fade show active" id="roles" role="tabpanel" aria-labelledby="roles-tab">
      <div class="container-fluid" style="padding-top: 10px;">
        <%= render 'roles_form', form: form%>
      </div>
    </div>
</div>
<% end %>
