<%= form_with(model: workflow_transition, remote: true) do |form| %>
  <%= render 'layouts/form_errors', object: form.object %>
  <div class="row">
    <div class="col-sm-8">
  <div class="field">

  </div>
    </div>
    <div class="col-sm-4">
        <%= submit_btn(form,"float:right;")%>
    </div>
  </div>

  <div class="field">
    <%= form.hidden_field :workflow_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

   <div class="field">
    <%= form.label :source_state_id %>
    <div class="field">
      <%= form.select :source_state_id, 
        @available_workflow_states.map {|d| [d.name, d.id] }, 
        {prompt: '', readonly: true},
        {class: 'input-select2-basic'}%>
    </div>
  </div>

  <div class="field">
    <%= form.label :target_state_id %>
    <div class="field">
      <%= form.select :target_state_id, 
        @available_workflow_states.map {|d| [d.name, d.id] }, 
        {prompt: '', readonly: true},
        {class: 'input-select2-basic'}%>
    </div>
  </div>

<% end %>
