<p id="notice"><%= notice %></p>

<h1>Workflow Transitions</h1>

<table>
  <thead>
    <tr>
      <th>Workflow</th>
      <th>Name</th>
      <th>Description</th>
      <th>Source state</th>
      <th>Target state</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workflow_transitions.each do |workflow_transition| %>
      <tr>
        <td><%= workflow_transition.workflow_id %></td>
        <td><%= workflow_transition.name %></td>
        <td><%= workflow_transition.description %></td>
        <td><%= workflow_transition.source_state_id %></td>
        <td><%= workflow_transition.target_state_id %></td>
        <td><%= link_to 'Show', workflow_transition %></td>
        <td><%= link_to 'Edit', edit_workflow_transition_path(workflow_transition) %></td>
        <td><%= link_to 'Destroy', workflow_transition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Workflow Transition', new_workflow_transition_path %>
