<p id="notice"><%= notice %></p>

<p>
  <strong>Workflow:</strong>
  <%= @workflow_transition.workflow_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @workflow_transition.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @workflow_transition.description %>
</p>

<p>
  <strong>Source state:</strong>
  <%= @workflow_transition.source_state_id %>
</p>

<p>
  <strong>Target state:</strong>
  <%= @workflow_transition.target_state_id %>
</p>

<%= link_to 'Edit', edit_workflow_transition_path(@workflow_transition) %> |
<%= link_to 'Back', workflow_transitions_path %>
